.ui.text.container {
    max-width: 100% !important;
    padding-top: 0px !important;

}

.ui.image {
    max-width: none !important;
    
}


.lowpricebanner {
    position:relative; 
    padding:50px;
    align-items: center;
    justify-content: center;
    display:flex;
    flex:1;
}

.waterdamage {
    position:relative; 
    align-items: center;
    justify-content: center;
    display:flex;
    flex:1;
    padding-top:50px;

}



