.ui.text.container {
    max-width: 100% !important;
    padding-top: 0px !important;

}

.ui.image {
    max-width: none !important;
    
}


.lowpricebanner {
    position:relative; 
    padding:50px;
    align-items: center;
    justify-content: center;
    display:flex;
    flex:1;
}

.waterdamage {
    position:relative; 
    align-items: center;
    justify-content: center;
    display:flex;
    flex:1;
    padding-top:50px;

}


@media only screen and (max-width: 600px) {
    .headerresponsive {
        max-width: 50px;
    }

    body {
      max-width: 50%;
      background-color: lightblue;
    }
  }
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}